/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* FUN STUFF */

body {
    font-family: "Tenderness", sans-serif;
    font-size: 400%;
    background: #B52A2A;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(#B52A2A));
    background: -webkit-radial-gradient(rgb(240, 240, 240), #B52A2A);
    background:    -moz-radial-gradient(rgb(240, 240, 240), #B52A2A);
    background:     -ms-radial-gradient(rgb(240, 240, 240), #B52A2A);
    background:      -o-radial-gradient(rgb(240, 240, 240), #B52A2A);
    background:         radial-gradient(rgb(240, 240, 240), #B52A2A);
}
h1 {
    margin-top: 0em;
    font-size: 165%;
    font-weight: normal;
}
.slide {
    width: 800px;
    height: 600px;
    border: 1px solid #ccc;
    background: rgba(255,255,255,0.85);
    padding: 1em;
    border-radius: 15px;
}
li {
    margin-top: 0.5em;
    padding-left: 0.3em;
}
